:root, * {
    font-family: 'Inter', sans-serif;
    --inactive-elem: #753939;
    --active-elem: #9E5151;
    --background: url('/assets/red.png');
    --color: #fefefe;
    --img-filter: invert(0);
    --ext-frame-bg: #662828b0;
}

img {
    filter: var(--img-filter);
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: var(--color);
    background: var(--background);
    background-size: cover;
}

.mainStartContain {
    width: 83.3333333333%;
    height: 90%;
    display: flex;
    align-items: center;
    overflow: auto;
    white-space: nowrap;
    user-select: none;
    z-index: -100;
}

#headerArea {
    overflow: hidden;
    width: 80%;
    background: #46464675;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    border-radius: 0 0 12px 12px;
    height: 158px;
}

.bookmark {
    display: inline;
    font-size: 24px;
    user-select: none;
    cursor: pointer;
}

.bookmarkClose {
    display: inline-block;
    font-weight: bold;
    font-size: 28px;
    transform: rotate(45deg);
    cursor: pointer;
}

#bookmarksBar {
    display: inline-block;
    padding-left: 15px;
    position: relative;
    bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    width: 100%;
}

#bookmarksBar:last-child .bookmarkClose {
    margin-right: 30px;
}

.tabFrame {
    background: var(--inactive-elem);
}

#tabsBar {
    position: relative;
    top: -42px;
    width: calc(100% - 145px);
    left: 134px;
    height: 58px;
    overflow: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    margin-left: 16px;
    white-space: nowrap;
    user-select: none;
    border-radius: 12px;
}

#leftTopBtns {
    position: relative;
    top: 15px;
    left: 15px;
    width: 114px;
    height: 57px;
    overflow: hidden;
    white-space: nowrap;
    user-select: none;
    background: var(--inactive-elem);
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 0px;
}

#leftTopBtns button {
    height: 57px;
    width: 57px;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

#leftTopBtns button:hover {
    background: var(--active-elem);
}

#tabsBar::-webkit-scrollbar {
    display: none;
}

.tabBtn {
    height: 57px;
    width: 300px;
    text-align: left;
    outline: none;
    border: none;
    background: var(--inactive-elem);
    color: var(--color);
    cursor: pointer;
    border-radius: 12px;
    display: inline-block;
    margin-right: 16px;
    transition: 0.2s;
    top: 0;
    position: relative;
    overflow: hidden;
}

.tabBtn:hover {
    background: var(--active-elem) !important;
}

.op-tabs-active, .active {
    background: var(--active-elem) !important;
}

.tabBtn .tabTitle {
    font-size: 24px;
    margin-left: 10px;
    display: inline-block;
    width: 240px;
    position: relative;
    top: 5px;
    transform: translateY(-50%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tabBtn .tabClose {
    position: relative;
    display:inline-block;
    height: 50px;
    font-size:50px;
    font-weight: 500;
    rotate: 45deg;
    font-family: 'Encode Sans Condensed', sans-serif;
    top: 30%;
    transform: translateY(-50%);
    right: 4%; /* it looks nice and while css has it's quirks it's exact */
}


.mainStartContain {
    width: 83vw;
    height: 90%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.imageContain {
    position: absolute;
    /* position: fixed; */
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background: transparent;
}

.imageContain div {
    display: inline-block;
    position: relative;
    /* position: fixed; */
    top: -50px;
    /* bottom: 100px; */
}

.imageContain div h1 {
    font-size: 45px;
    font-weight: 600;
    line-height: 0.2;
    position: relative;
}

.imageContain div p {
    font-size: 30px;
    position: relative;
    font-weight: 500;
}

#toolsBar {
    position: relative;
    z-index: 10;
    top: -30px;
    left: 0;
    width: calc(100% - 21px);
    height: 57px;
    overflow: hidden;
    padding-left: 21px;
    white-space: nowrap;
    user-select: none;
}

#arrowLeftContain, #arrowRightContain, #reloadBtn {
    margin-right: 12px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

#toolsBar * {
    display: inline-block;
    position: relative;
    height: 57px;
    width: 36px;
    object-fit: contain;
}

#adrbar {
    width: 100%;
    height: 50px;
    background: var(--inactive-elem);
    border-radius: 12px;
    font-size: 24px;
    color: var(--color);
    outline: none;
    border: none;
    padding-left: 20px;
    position: relative;
    top:-20px;
    font-style: italic;
}

#rightBtnGroup {
    position: relative;
    left: 30px;
}

#rightToolGroup {
    width: 112px;
    height: 56px;
    border-radius: 12px;
    font-size: 0px; /* why does inline-block add a space? */
    color: var(--color);
    outline: none;
    border: none;
    overflow: hidden;
}

#rightToolGroup button {
    display: inline-block;
    width: 56px;
    height: 56px;
    background: transparent;
    color: var(--color);
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    text-align: center;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
}

#toolsBar button img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
}

#panicBtn {
    width: 56px;
    height: 56px;
    background: var(--inactive-elem);
    border-radius: 0 12px 12px 0;
    font-size: 24px;
    color: var(--color);
    outline: none;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

#panicBtn:hover {
    background: var(--active-elem);
}

#searchBar {
    margin-left: 5px;
    width: calc(100% - 325px);
    display:inline-block;
}

#tabContainer {
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    height: calc(100vh - 168px);
    width: 100%;
}

#tabTemplate {
    width: 100%;
    height: 100%;
}

.abyssCard {
    height: 400px;
    width: 300px;
    min-width: 300px;
    padding: 20px;
    background: var(--inactive-elem);
    border-radius: 12px;
    text-align: center;
    display: inline-block;
    margin-bottom: 20px;
}

.abyssCard input, .abyssCard select, .abyssCard button {
    width: 280px;
    height: 56px;
    background: var(--ext-frame-bg);
    border-radius: 12px;
    outline: none;
    border: none;
    font-size: 24px;
    color: var(--color);
    transition: 0.2s;
    text-align: center;
    padding: 0 10px;
}

.abyssCard button:hover {
    cursor: pointer;
    background: var(--active-elem);
}

.abyssCard h1 {
    font-size: 28px;
    font-weight: 400;
    margin-top: 30px;
    white-space: nowrap;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 0.7;
    font-size: 32px;
}

.settingCards {
    display: flex;
    justify-content: safe center;
    align-items: center;
    row-gap: 50px;
    column-gap: 50px;
    flex-wrap: wrap;
    /* height: calc(100vh - 400px); */
    overflow-y: auto;
}

.settingsHeader {
    font-size: 64px;
    font-weight: 400;
}

.extFrame {
    overflow: auto;
}

iframe {
    /* z-index: 100;
    width: 100%;
    height: calc(100vh - 175px);
    border: none;
    background: var(--background);
    position:fixed;
    bottom: 0;
    left: 0; */
    z-index: 100;
    width: 100%;
    height: 100%;
    border: none;
    background: var(--ext-frame-bg);
    position: relative;
}